<html>
    <head>
        <title>
            Register Page
        </title>
    </head>
    <body>
        <h1>
            Register Page
        </h1>
        <form method="post" action="/register">
            <input type="text" name="username" required placeholder="Enter User Name">
            <input type="email" name="email" required placeholder="Enter Email">
            <input type="password" name="password"  placeholder="Enter Password" required>
            <button type="submit" name="login">Register</button>
        </form>
    </body>
</html>