<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <h1>
            This is a Secret page should be accessed by authorized users
        </h1>
        <form method="POST" action="/logout">
            <button type="submit" name="logout Button">Logout</button>
        </form>
    </body>
</html>